{% extends 'base.html' %}
{% load static %}

{% block content %}
   
<div class="row">
    <div class="col-4">
        <h2>Параллелепипед</h2>
    
        <img src="{% static 'img/parallelepiped.png'%}" alt="">

        <form method="POST" class="col">
	    {% csrf_token %}
	    Старана a {{form.a}}
        Старана b {{form.b}}
        Старана c {{form.c}}
    	<input type="submit" value = "Вычислить" class="btn btn-primary qwe"> 
        </form>
        {{ form.a.errors}}
        {{ form.b.errors}} 
        {{ form.c.errors}}  
        {% if  parallelepiped.a %}
        <div class="wrap">
           
            
            <p>Площадь = {{parallelepiped.area}}</p>
            <p>Объем = {{parallelepiped.volume}}</p>
            <p>Периметр = {{parallelepiped.perimeter}}</p>
        </div>
        
</div>
<div class="col-8">
    <img src="data:image/png;base64,{{uri}}" alt="" id="img" >
    <p>Старана a = {{parallelepiped.a}}</p>
    <p>Старана b = {{parallelepiped.b}}</p>
    <p>Старана c = {{parallelepiped.c}}</p>

    {% endif %}
</div>
</div>
{% endblock%}